# Code for DC 2021 National Day of Civic Hacking

This notebook is to analyze the pulsepoint data colllected 
View details at: https://github.com/banjtheman/dc_ndoch_2021/issues/7

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://query.data.world/s/wake5sjdgmpxilwla2iudklmdijlpb')
df

/usr/local/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,agency_id,incident_id,scrape_datetime,call_received_datetime,call_closed_datetime,fulldisplayaddress,longitude,latitude,incident_type,unit,unit_status_transport,transport_unit_is_amr,transport_unit_is_non_amr,unit_json,num_units_responding,geography,unit_ids
0,1,1029084301,2021-09-11 03:20:48+00:00,2021-09-10 02:43:11+00:00,2021-09-10 03:26:36+00:00,"1500 SE GOODNIGHT AVE, CORVALLIS, OR",-123.249936,44.536926,TC,"[{'UnitID': 'W117', 'PulsePointDispatchStatus'...",0,0,0,"[{'UnitID': 'W117', 'PulsePointDispatchStatus'...",3,0101000020E61000007F9DFBF1FECF5EC092D45FFAB944...,"['W124', 'W131', 'W117']"
1,1,1029095357,2021-09-11 03:50:48+00:00,2021-09-10 03:05:04+00:00,2021-09-10 04:00:31+00:00,"NE PETTIBONE DR & MP 2, CORVALLIS, OR",-123.218487,44.637464,TC,"[{'UnitID': 'W117', 'PulsePointDispatchStatus'...",0,0,0,"[{'UnitID': 'W117', 'PulsePointDispatchStatus'...",4,0101000020E6100000F894B5B0FBCD5EC0CFF2E46D9851...,"['W133', 'W136', 'W117', 'W120']"
2,1,1029098794,2021-09-11 03:20:48+00:00,2021-09-10 03:12:54+00:00,2021-09-10 03:27:32+00:00,"1500 SW AVERY PARK DR, CORVALLIS, OR",-123.273421,44.552445,OF,"[{'UnitID': 'W132', 'PulsePointDispatchStatus'...",0,0,0,"[{'UnitID': 'W132', 'UnitClearedDateTime': '20...",1,0101000020E61000001CC32FBB7FD15EC074AB9C84B646...,['W132']
3,1,1029132070,2021-09-11 04:40:52+00:00,2021-09-10 04:32:30+00:00,2021-09-10 04:41:54+00:00,"SW TWIN OAKS CIR, CORVALLIS, OR",-123.266715,44.554036,LA,"[{'UnitID': 'W124', 'PulsePointDispatchStatus'...",0,0,0,"[{'UnitID': 'W124', 'UnitClearedDateTime': '20...",1,0101000020E6100000A4101ADB11D15EC0EFDA10A9EA46...,['W124']
4,1,1029505596,2021-09-11 20:10:53+00:00,2021-09-10 19:45:03+00:00,2021-09-10 20:16:45+00:00,"NE CONIFER BLVD, CORVALLIS, OR",-123.246490,44.596612,IFT,"[{'UnitID': 'W120', 'PulsePointDispatchStatus'...",1,0,1,"[{'UnitID': 'W120', 'UnitClearedDateTime': '20...",1,0101000020E6100000B01FAA7DC6CF5EC06B88B4C95D4C...,['W120']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337765,XV503,1032984320,2021-09-16 06:53:58+00:00,2021-09-15 21:52:30+00:00,2021-09-15 22:05:21+00:00,"398 N IH 35 FWY NB, GEORGETOWN, TX",-97.676344,30.654296,TCE,"[{'UnitID': 'E1', 'PulsePointDispatchStatus': ...",0,0,0,"[{'UnitID': 'E1', 'PulsePointDispatchStatus': ...",4,0101000020E610000040E1CE37496B58C094F397EF7FA7...,"['MED2', 'E1', 'R5', 'E2']"
337766,XV503,1033064470,2021-09-16 06:53:58+00:00,2021-09-16 00:01:59+00:00,2021-09-16 01:09:30+00:00,"ARMSTRONG DR, GEORGETOWN, TX",-97.736139,30.723657,ME,"[{'UnitID': 'BC1', 'PulsePointDispatchStatus':...",1,0,1,"[{'UnitID': 'BC1', 'PulsePointDispatchStatus':...",4,0101000020E61000003200C0E81C6F58C0A4796B9441B9...,"['BC1', 'E6', 'MED3', 'E3']"
337767,XV503,1033120940,2021-09-16 06:53:58+00:00,2021-09-16 01:40:41+00:00,2021-09-16 02:38:13+00:00,"601 WESTINGHOUSE RD, GEORGETOWN, TX",-97.686172,30.584905,TCE,"[{'UnitID': 'E1', 'PulsePointDispatchStatus': ...",1,0,1,"[{'UnitID': 'E1', 'PulsePointDispatchStatus': ...",2,0101000020E6100000E878CA3FEA6B58C0CA9B9E5CBC95...,"['E1', 'MED2']"
337768,XV503,1033142558,2021-09-16 06:53:58+00:00,2021-09-16 02:22:36+00:00,2021-09-16 03:16:12+00:00,"JAGUAR DR, GEORGETOWN, TX",-97.640750,30.668504,ME,"[{'UnitID': 'E7', 'PulsePointDispatchStatus': ...",1,0,1,"[{'UnitID': 'E7', 'PulsePointDispatchStatus': ...",3,0101000020E610000070DDD40D026958C00052521923AB...,"['E7', 'MED5', 'MED1']"
337769,XV503,1033188125,2021-09-16 05:23:51+00:00,2021-09-16 03:57:36+00:00,NaN,"WILLIAMS DR, GEORGETOWN, TX",-97.724595,30.687122,ME,"[{'UnitID': 'E2', 'PulsePointDispatchStatus': ...",1,0,1,"[{'UnitID': 'E2', 'PulsePointDispatchStatus': ...",3,0101000020E61000009142DAC15F6E58C0B54EDC32E7AF...,"['MED5', 'T5', 'E2']"

In [4]:
df.describe()

,incident_id,longitude,latitude,unit_status_transport,transport_unit_is_amr,transport_unit_is_non_amr,num_units_responding
count,3.377700e+05,337770.000000,337770.000000,337770.000000,337770.000000,337770.000000,337770.000000
mean,1.005883e+09,-77.130232,33.603747,0.324203,0.004127,0.320114,2.136149
std,3.281804e+07,32.954404,12.992353,0.502326,0.065118,0.500528,1.775933
min,8.251321e+08,-158.221089,-89.555966,0.000000,0.000000,0.000000,0.000000
25%,9.827760e+08,-86.211882,35.130635,0.000000,0.000000,0.000000,1.000000
50%,1.026553e+09,-77.021919,38.867207,0.000000,0.000000,0.000000,2.000000
75%,1.031067e+09,-76.895749,38.955520,1.000000,0.000000,1.000000,2.000000
max,1.033250e+09,37.325495,65.026504,9.000000,4.000000,9.000000,77.000000

In [5]:
df.columns

Index(['agency_id', 'incident_id', 'scrape_datetime', 'call_received_datetime',
       'call_closed_datetime', 'fulldisplayaddress', 'longitude', 'latitude',
       'incident_type', 'unit', 'unit_status_transport',
       'transport_unit_is_amr', 'transport_unit_is_non_amr', 'unit_json',
       'num_units_responding', 'geography', 'unit_ids'],
      dtype='object')

In [6]:
# Mean number of units that respond to a call
df["num_units_responding"].mean()

2.136148858690825

In [13]:
pd.to_datetime(df.call_received_datetime)
df['call_received_datetime'] = pd.to_datetime(df['call_received_datetime'])

In [15]:
df['call_closed_datetime'] = pd.to_datetime(df['call_closed_datetime'])

In [19]:
df["call_delta"] = df['call_closed_datetime'] - df['call_received_datetime']

In [20]:
df["call_delta"]

0        0 days 00:43:25
1        0 days 00:55:27
2        0 days 00:14:38
3        0 days 00:09:24
4        0 days 00:31:42
               ...
337765   0 days 00:12:51
337766   0 days 01:07:31
337767   0 days 00:57:32
337768   0 days 00:53:36
337769               NaT
Name: call_delta, Length: 337770, dtype: timedelta64[ns]

In [21]:
df["call_delta"].mean()

Timedelta('0 days 00:52:48.170831541')

In [25]:
# List of agencies
agencies = list(set(list(df["agency_id"])))
agencies

[1,
 10242,
 'EMS1095',
 4,
 '37070',
 12,
 10252,
 '31D24',
 15,
 16,
 '57025',
 'SS911',
 24,
 14363,
 6172,
 '49020',
 'EMS1110',
 '37050',
 2083,
 36,
 'WJ203',
 42,
 10282,
 '37110',
 2101,
 57,
 64,
 '43060',
 'EMS1093',
 'WJ243',
 'EMS1204',
 '18001',
 86,
 87,
 '43045',
 '18092',
 92,
 94,
 '31D17',
 '71002',
 '44060',
 '71019',
 109,
 '43090',
 '43050',
 116,
 6272,
 132,
 140,
 '49016',
 '37047',
 144,
 2193,
 147,
 '27D05',
 154,
 155,
 6301,
 161,
 163,
 165,
 167,
 168,
 'EMS1078',
 170,
 173,
 174,
 175,
 176,
 '49013',
 '63010',
 182,
 6142,
 186,
 '18083',
 '19110',
 '31D19',
 195,
 '37135',
 204,
 'EMS1315',
 'WY101',
 '32D03',
 211,
 '34090',
 '40260',
 'EMS1232',
 219,
 224,
 'CN713',
 '55000',
 233,
 234,
 '26001',
 '37145',
 '27D22',
 259,
 'EMS1226',
 '19040',
 270,
 '27D13',
 'EMS1186',
 '31M04',
 'EMS1241',
 '17022',
 'WJ234',
 '25123',
 '34135',
 '31D07',
 291,
 '65000',
 'WJ184',
 '27M04',
 318,
 'EMS1210',
 321,
 'EMS1247',
 323,
 327,
 330,
 'EMS1127',
 334,
 337,
 '19030',
 340,
 342,
 '18090',
 '27D21',
 355,
 'EMS1205',
 363,
 365,
 'EMS1180',
 368,
 370,
 '29008',
 374,
 '57040',
 '57760',
 'EMS1168',
 'EMS1194',
 392,
 '29004',
 'EMS1424',
 '37235',
 '76000',
 '43105',
 415,
 416,
 '49010',
 424,
 '44080',
 'EMS1385',
 429,
 'EMS1252',
 '19195',
 '36220',
 '37175',
 'EMS1295',
 461,
 '26007',
 '27M08',
 467,
 472,
 '26013',
 'EMS1264',
 '31M08',
 485,
 4600,
 '19165',
 'EMS1225',
 'EMS1338',
 515,
 4612,
 520,
 '49017',
 530,
 '36065',
 'EMS1169',
 538,
 543,
 569,
 'EMS1312',
 '44035',
 '16000',
 '37160',
 '18087',
 'EMS1200',
 '43070',
 '57065',
 'XV503',
 '49011',
 '25049',
 '36010',
 '37150',
 '36015',
 '19010',
 '37165',
 '27D06',
 '27D16',
 'EMS1284',
 '49014',
 '40020',
 'EMS1198',
 'EMS1236',
 '16500',
 '17900',
 '19100',
 '32M02',
 13000,
 4813,
 '36058',
 13010,
 '49009',
 '29007',
 'EMS1001',
 '19055',
 740,
 13030,
 '34120',
 '40200',
 '16001',
 'EMS1122',
 '43010',
 '70001',
 6925,
 '29003',
 'EMS1175',
 6940,
 6945,
 'DD132',
 6960,
 'EMS1375',
 '18029',
 '37065',
 'EMS1157',
 6980,
 'EMS1034',
 '56020',
 'EMS1201',
 '72002',
 '27D17',
 7006,
 '32D13',
 7015,
 'WJ124',
 7030,
 '73500',
 7035,
 7040,
 '66000',
 7042,
 '67015',
 '68000',
 '34020',
 7060,
 9109,
 '40100',
 11165,
 '35002',
 '29005',
 7075,
 5031,
 '37085',
 '19005',
 'EMS1363',
 7090,
 '34035',
 3002,
 '30010',
 7100,
 '19130',
 15301,
 '36193',
 11223,
 '19225',
 '36170',
 '36185',
 7131,
 '25013',
 '37090',
 1005,
 1007,
 1008,
 1009,
 '32D08',
 'WB616',
 1020,
 '49018',
 '83000',
 '27M02',
 1035,
 1040,
 '37125',
 3101,
 '37084',
 1065,
 7212,
 '26003',
 'WJ263',
 '19175',
 3142,
 'EMS1179',
 1101,
 '37075',
 '49007',
 '26005',
 'EMS1189',
 '18801',
 '30005',
 '25009',
 '37045',
 'WJ173',
 'EMS1316',
 '21105',
 '32M01',
 '37115',
 'WJ213',
 9372,
 'EMS1344',
 'EMS1372',
 'EMS1035',
 '30025',
 '44015',
 1200,
 '43040',
 'EMS1140',
 '44555',
 'EMS1347',
 '42035',
 1260,
 'EMS1119',
 '25133',
 'EMS1376',
 '30065',
 '27D27',
 '29010',
 'EMS1304',
 '32D01',
 '49025',
 9500,
 9501,
 9502,
 9503,
 9504,
 9505,
 9506,
 9507,
 9508,
 '16072',
 9510,
 9511,
 9512,
 9513,
 9514,
 9515,
 'EMS1265',
 9518,
 9520,
 9521,
 9522,
 9523,
 9524,
 9525,
 '18084',
 '18D01',
 9527,
 9528,
 9529,
 9530,
 9531,
 '36042',
 9534,
 9536,
 '26011',
 9538,
 9539,
 9540,
 'EMS1337',
 9544,
 '40070',
 'WJ194',
 '77001',
 'EMS1296',
 'EMS1206',
 '42025',
 '28042',
 '44065',
 '37140',
 '51000',
 'EMS1124',
 'WJ134',
 '17M15',
 '27D14',
 '19900',
 'EMS1105',
 '34080',
 'WJ222',
 '71008',
 'EMS1094',
 '24000',
 '37025',
 '19135',
 '32M10',
 3510,
 'EMS1321',
 'EMS1087',
 '40210',
 '31D04',
 'EMS1192',
 '71016',
 'JO101',
 3525,
 '18075',
 'EMS1020',
 '30030',
 3535,
 'EMS1464',
 'CN407',
 '57775',
 '49002',
 '80000',
 '40555',
 '37170',
 '32D10',
 '34125',
 '44055',
 '44070',
 3570,
 'EMS1010',
 '42005',
 '37005',
 'GB803',
 '40110',
 '19101',
 '71000',
 'WJ164',
 '30040',
 3601,
 '19170',
 'EMS1329',
 '32D04',
 '31D30',
 '33055',
 'EMS1107',
 'EMS1355',
 1603,
 'EMS1174',
 '27025',
 '19125',
 'EMS1366',
 '41000',
 '43080',
 'EMS1239',
 16000,
 'EMS1340',
 '18D02',
 'EMS1457',
 '19145',
 '31M11',
 'EMS1203',
 '19075',
 '79043',
 'EMS1176',
 'EMS1103',
 'EMS1234',
 12033,
 '36140',
 5900,
 '40060',
 5909,
 14102,
 'EMS1438',
 '27229',
 '43030',
 'EMS1255',
 '30055',
 '57070',
 5936,
 14131,
 '48032',
 '31D01',
 '34015',
 10052,
 '37010',
 10062,
 14162,
 '32D09',
 '65060',
 10082,
 'EMS1305',
 '18M04',
 10092,
 'EMS1394',
 6004,
 10100,
 'EMS1318',
 '57075',
 'EMS1071',
 'EMS1395',
 10125,
 '31D21',
 10132,
 '44020',
 '27M16',
 6042,
 'EMS1258',
 10151,
 '35010',
 6062,
 10162,
 '19105',
 10182,
 'WJ111',
 10192,
 '36180',
 '31D26',
 14291,
 'WJ153',
 2006,
 6102,
 '18D07',
 10202,
 '37030',
 14307,
 '18D10',
 '18M01',
 10232,
 '30060']

In [26]:
df.groupby('agency_id').count()

,incident_id,scrape_datetime,call_received_datetime,call_closed_datetime,fulldisplayaddress,longitude,latitude,incident_type,unit,unit_status_transport,transport_unit_is_amr,transport_unit_is_non_amr,unit_json,num_units_responding,geography,unit_ids,call_delta
agency_id,,,,,,,,,,,,,,,,,
1,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,47,49
4,208,208,208,206,208,208,208,208,208,208,208,208,208,208,208,201,206
12,53,53,53,52,53,53,53,53,53,53,53,53,53,53,53,52,52
15,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
16,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,28,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WJ234,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
WJ243,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
WJ263,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
WY101,241,241,241,241,241,241,241,241,241,241,241,241,241,241,241,241,241
XV503,18,18,18,17,18,18,18,18,18,18,18,18,18,18,18,18,17