In [4]:
import os
import json
from configparser import RawConfigParser

import requests
import pandas as pd

In [5]:
CUR_DIR = os.getcwd()
PROJ_DIR = os.path.join(CUR_DIR, os.pardir)
os.path.abspath(PROJ_DIR)

'C:\\Users\\kweni\\PycharmProjects\\dc_ndoch_2021'

In [11]:
# load config.ini and read twitter secrets
config_parser = RawConfigParser()
config_parser.read(
    os.path.join(PROJ_DIR, 'config.ini')
)
TWIT_TOKEN = f'Bearer {config_parser.get("twitter", "bearer_token")}'
REQ_HEADER = {
    'Authorization': TWIT_TOKEN
}

In [13]:
# lookup user_id for dcfireems handle
TWITTER_HANDLE = 'dcfireems'
def create_user_url(user_name=TWITTER_HANDLE):
    url = f'https://api.twitter.com/2/users/by/username/{user_name}'
    params = {}
    
    return (url, params)

In [30]:
def create_tweets_url(user_id, max_results=100):
    url = f'https://api.twitter.com/2/users/{user_id}/tweets'
    
    params = {
        'max_results': max_results,
        'expansions': 'author_id,in_reply_to_user_id',
        'tweet.fields': 'id,text,author_id,created_at'
    }
        
    return (url, params)

In [21]:
def api_req(url, headers, params, next_token=''):
    if next_token:
        params['pagination_token'] = next_token
        
    resp = requests.get(url, headers = headers, params = params)
    print('Response code: ', str(resp.status_code))
    if resp.status_code != 200:
        raise Exception(resp.status_code, resp.text)
    return resp.json()

In [23]:
# get id from username
req_url, req_params = create_user_url()
resp = api_req(req_url, REQ_HEADER, req_params)
TWIT_ID = resp['data']['id']
TWIT_ID

Response code:  200

'20069434'

In [31]:
# verify recent tweets requests provide sufficient data
req_url, req_params = create_tweets_url(user_id=TWIT_ID, max_results=5)
api_req(req_url, REQ_HEADER, req_params)

Response code:  200

{'data': [{'id': '1446627599028035587',
   'created_at': '2021-10-09T00:04:31.000Z',
   'author_id': '20069434',
   'in_reply_to_user_id': '20069434',
   'text': 'https://t.co/IzDOC4Fbtu'},
  {'id': '1446627469570760710',
   'created_at': '2021-10-09T00:04:00.000Z',
   'author_id': '20069434',
   'text': 'Students at the Sunshine Day Care Center in Ward 8 had a very special visit with #DCsBravest during #FirePreventionWeek. Not only did they learn the sounds of fire safety, they also were able to spend time getting to know the ladder truck and our Firefighters. #SaferStrongerDC https://t.co/pKQnnr4vvJ'},
  {'id': '1446619775132704768',
   'created_at': '2021-10-08T23:33:25.000Z',
   'author_id': '20069434',
   'text': '#DCsBravest have responded to a Box Alarm on the 1200 Block of Taylor Street NW. Upon arrival, @dcfireems found smoke coming from the front door of a 2 story commercial building. A fire on the first floor is contained. All searches negative. There are no injuries to report.'},
  {'id': '1446613993381154823',
   'created_at': '2021-10-08T23:10:27.000Z',
   'author_id': '20069434',
   'text': '#DCsBravest were proud to help wish Ward 7 resident Mrs. Kearney a very Happy 100th Birthday! Together with @wmata, @DC_Housing, @SecretService, and @DCPoliceDept, @dcfireems was happy to help make this a very special day. #SaferStrongerDC https://t.co/WtBIFD60Ey https://t.co/nFEspc4geQ'},
  {'id': '1446484645739175940',
   'created_at': '2021-10-08T14:36:28.000Z',
   'author_id': '20069434',
   'text': 'Happy Friday DC from #DCsBravest Engine 15, Rescue 3, Ambulance 15, and Battalion 3 in #Anacostia Have a great weekend!! https://t.co/VF7SzWFIkE'}],
 'includes': {'users': [{'id': '20069434',
    'name': 'DC Fire and EMS',
    'username': 'dcfireems'}]},
 'meta': {'oldest_id': '1446484645739175940',
  'newest_id': '1446627599028035587',
  'result_count': 5,
  'next_token': '7140dibdnow9c7btw3z2gmo6hyz1f1umj8kizdm08hmi8'}}

In [43]:
def get_all_tweets(user_id='', to_csv=True) -> pd.DataFrame:
    if not user_id:
        print('Fetching user_id...')
        req_url, req_params = create_user_url()
        resp = api_req(req_url, REQ_HEADER, req_params)
        user_id = resp['data']['id']
    
    # get first set of tweets
    print('Fetching initial tweets...')
    req_url, req_params = create_tweets_url(user_id=user_id)
    resp = api_req(req_url, REQ_HEADER, req_params)
    count = resp['meta']['result_count']
    next_token = resp['meta']['next_token']
    print(f'\tReturned {count} results and next token: {next_token}')
    newest_id = resp['meta']['newest_id']
    
    # init dataframe for storing tweets
    tweets_df = pd.DataFrame.from_records(resp['data'])
    
    # fetch remaining tweets
    while next_token:
        print(f'Fetching tweeks for {next_token}...')
        resp = api_req(req_url, REQ_HEADER, req_params, next_token)
        
        # update counts, next token, and data frame
        count += resp['meta']['result_count']
        try:
            next_token = resp['meta']['next_token']
        except KeyError:
            next_token = ''
        print(f'\tReturned {count} results and next token: {next_token}')
        
        next_df = pd.DataFrame.from_records(resp['data'])
        tweets_df = pd.concat([tweets_df, next_df])
        print('Total tweets in df:', tweets_df.shape)
        
    if to_csv:
        file_name = f'raw_dcfireems_tweets_{newest_id}.csv'
        tweets_df.to_csv(file_name, index=False)
        
    return tweets_df

In [39]:
tweets_df = get_all_tweets(user_id=TWIT_ID)
tweets_df.info()

Fetching initial tweets...
Response code:  200
	Returned 100 results and next token: 7140dibdnow9c7btw3z2ggaarcslgbe23z7u97ya02pf7
Fetching tweeks for 7140dibdnow9c7btw3z2ggaarcslgbe23z7u97ya02pf7...
Response code:  200
	Returned 200 results and next token: 7140dibdnow9c7btw3z21nftg2yhnnxas0yzr0d41o4z7
Total tweets in df: 1000
Fetching tweeks for 7140dibdnow9c7btw3z21nftg2yhnnxas0yzr0d41o4z7...
Response code:  200
	Returned 300 results and next token: 7140dibdnow9c7btw3z21j5rfz52ugxlxwhdbmcqrfwok
Total tweets in df: 1500
Fetching tweeks for 7140dibdnow9c7btw3z21j5rfz52ugxlxwhdbmcqrfwok...
Response code:  200
	Returned 400 results and next token: 7140dibdnow9c7btw3z21ctdnih15s0xrptminjru2zav
Total tweets in df: 2000
Fetching tweeks for 7140dibdnow9c7btw3z21ctdnih15s0xrptminjru2zav...
Response code:  200
	Returned 500 results and next token: 7140dibdnow9c7btw3z216fhzxjfyd58tuuhdqwyl9gl1
Total tweets in df: 2500
Fetching tweeks for 7140dibdnow9c7btw3z216fhzxjfyd58tuuhdqwyl9gl1...
Response code:  200
	Returned 600 results and next token: 7140dibdnow9c7btw3z1mhtkp1gxdvkpqnmig77l54to5
Total tweets in df: 3000
Fetching tweeks for 7140dibdnow9c7btw3z1mhtkp1gxdvkpqnmig77l54to5...
Response code:  200
	Returned 700 results and next token: 7140dibdnow9c7btw3z1m9c5yt1ef0x5cz9kdc5ebnvp5
Total tweets in df: 3500
Fetching tweeks for 7140dibdnow9c7btw3z1m9c5yt1ef0x5cz9kdc5ebnvp5...
Response code:  200
	Returned 800 results and next token: 7140dibdnow9c7btw3z1m2xzoxcnoao6vvpvt201ica40
Total tweets in df: 4000
Fetching tweeks for 7140dibdnow9c7btw3z1m2xzoxcnoao6vvpvt201ica40...
Response code:  200
	Returned 900 results and next token: 7140dibdnow9c7btw3z1lynmuv40an0a2100pujhl0ks4
Total tweets in df: 4500
Fetching tweeks for 7140dibdnow9c7btw3z1lynmuv40an0a2100pujhl0ks4...
Response code:  200
	Returned 1000 results and next token: 7140dibdnow9c7btw3z17809vr3c551hbis67lzj520j9
Total tweets in df: 5000
Fetching tweeks for 7140dibdnow9c7btw3z17809vr3c551hbis67lzj520j9...
Response code:  200
	Returned 1100 results and next token: 7140dibdnow9c7btw3z171li0z5qws7ba7y66xydao6k3
Total tweets in df: 5500
Fetching tweeks for 7140dibdnow9c7btw3z171li0z5qws7ba7y66xydao6k3...
Response code:  200
	Returned 1200 results and next token: 7140dibdnow9c7btw3z16v7wzrr3vvwn2f5b7jok35yye
Total tweets in df: 6000
Fetching tweeks for 7140dibdnow9c7btw3z16v7wzrr3vvwn2f5b7jok35yye...
Response code:  200
	Returned 1300 results and next token: 7140dibdnow9c7btw3z0s6nhav5dj824n9cz9lk5i1oaf
Total tweets in df: 6500
Fetching tweeks for 7140dibdnow9c7btw3z0s6nhav5dj824n9cz9lk5i1oaf...
Response code:  200
	Returned 1400 results and next token: 7140dibdnow9c7btw3z0s083p7ommt84h1bktptp68wft
Total tweets in df: 7000
Fetching tweeks for 7140dibdnow9c7btw3z0s083p7ommt84h1bktptp68wft...
Response code:  200
	Returned 1500 results and next token: 7140dibdnow9c7btw3z0rtt0vwe7shg3p7dot96q936eu
Total tweets in df: 7500
Fetching tweeks for 7140dibdnow9c7btw3z0rtt0vwe7shg3p7dot96q936eu...
Response code:  200
	Returned 1600 results and next token: 7140dibdnow9c7btw3z0rnfr5b728ktnovswx1lkc7fp2
Total tweets in df: 8000
Fetching tweeks for 7140dibdnow9c7btw3z0rnfr5b728ktnovswx1lkc7fp2...
Response code:  200
	Returned 1700 results and next token: 7140dibdnow9c7btw3w4skub91i1uxw6o5yjeejp1noz6
Total tweets in df: 8500
Fetching tweeks for 7140dibdnow9c7btw3w4skub91i1uxw6o5yjeejp1noz6...
Response code:  200
	Returned 1800 results and next token: 7140dibdnow9c7btw3w4sgj269n9bss6g2waf8vr0w9iw
Total tweets in df: 9000
Fetching tweeks for 7140dibdnow9c7btw3w4sgj269n9bss6g2waf8vr0w9iw...
Response code:  200
	Returned 1900 results and next token: 7140dibdnow9c7btw3w4s81ybi9j5r6jeh8dy1hwv6w4z
Total tweets in df: 9500
Fetching tweeks for 7140dibdnow9c7btw3w4s81ybi9j5r6jeh8dy1hwv6w4z...
Response code:  200
	Returned 2000 results and next token: 7140dibdnow9c7btw3w4djhisod4neq7ecmqtjdv905yt
Total tweets in df: 10000
Fetching tweeks for 7140dibdnow9c7btw3w4djhisod4neq7ecmqtjdv905yt...
Response code:  200
	Returned 2100 results and next token: 7140dibdnow9c7btw3w4df6a3kqthm47bctflyfqpem2g
Total tweets in df: 10500
Fetching tweeks for 7140dibdnow9c7btw3w4df6a3kqthm47bctflyfqpem2g...
Response code:  200
	Returned 2200 results and next token: 7140dibdnow9c7btw3w4d8seehtv161zkp8rf4ejojqyf
Total tweets in df: 11000
Fetching tweeks for 7140dibdnow9c7btw3w4d8seehtv161zkp8rf4ejojqyf...
Response code:  200
	Returned 2300 results and next token: 7140dibdnow9c7btw3w4d2fpqkraq9w0mja0x3kmq83ef
Total tweets in df: 11500
Fetching tweeks for 7140dibdnow9c7btw3w4d2fpqkraq9w0mja0x3kmq83ef...
Response code:  200
	Returned 2400 results and next token: 7140dibdnow9c7btw3w3ybpyj49hr9x75s3chkt2hvint
Total tweets in df: 12000
Fetching tweeks for 7140dibdnow9c7btw3w3ybpyj49hr9x75s3chkt2hvint...
Response code:  200
	Returned 2500 results and next token: 7140dibdnow9c7btw3w3y7g7nm2s4owmtaxoqm1j3hp2w
Total tweets in df: 12500
Fetching tweeks for 7140dibdnow9c7btw3w3y7g7nm2s4owmtaxoqm1j3hp2w...
Response code:  200
	Returned 2600 results and next token: 7140dibdnow9c7btw3w3y37cxqzd0828affj5brhzywxh
Total tweets in df: 13000
Fetching tweeks for 7140dibdnow9c7btw3w3y37cxqzd0828affj5brhzywxh...
Response code:  200
	Returned 2700 results and next token: 7140dibdnow9c7btw3w3xwtrrzx0mvgewv84j8z36vbxy
Total tweets in df: 13500
Fetching tweeks for 7140dibdnow9c7btw3w3xwtrrzx0mvgewv84j8z36vbxy...
Response code:  200
	Returned 2800 results and next token: 7140dibdnow9c7btw3w3j88qsvzrld8m8eosdrukuky0i
Total tweets in df: 14000
Fetching tweeks for 7140dibdnow9c7btw3w3j88qsvzrld8m8eosdrukuky0i...
Response code:  200
	Returned 2900 results and next token: 7140dibdnow9c7btw3w3j1v60r17mzhn7qcijtcbi5els
Total tweets in df: 14500
Fetching tweeks for 7140dibdnow9c7btw3w3j1v60r17mzhn7qcijtcbi5els...
Response code:  200
	Returned 3000 results and next token: 7140dibdnow9c7btw3w3ixk7oxuihgjn1kvk6pfnljs4w
Total tweets in df: 15000
Fetching tweeks for 7140dibdnow9c7btw3w3ixk7oxuihgjn1kvk6pfnljs4w...
Response code:  200
	Returned 3100 results and next token: 7140dibdnow9c7btw3w3ip407gsv26ke7v7ewjm285b1v
Total tweets in df: 15500
Fetching tweeks for 7140dibdnow9c7btw3w3ip407gsv26ke7v7ewjm285b1v...
Response code:  200
	Returned 3200 results and next token: 7140dibdnow9c7btw3w340hrrzirqd2dhx0fu5zzgd25t
Total tweets in df: 16000
Fetching tweeks for 7140dibdnow9c7btw3w340hrrzirqd2dhx0fu5zzgd25t...
Response code:  200
	Returned 3250 results and next token:
Total tweets in df: 16250

,created_at,author_id,in_reply_to_user_id,text,id
0,2021-10-09T00:04:31.000Z,20069434,20069434,https://t.co/IzDOC4Fbtu,1446627599028035587
1,2021-10-09T00:04:00.000Z,20069434,NaN,Students at the Sunshine Day Care Center in Wa...,1446627469570760710
2,2021-10-08T23:33:25.000Z,20069434,NaN,#DCsBravest have responded to a Box Alarm on t...,1446619775132704768
3,2021-10-08T23:10:27.000Z,20069434,NaN,#DCsBravest were proud to help wish Ward 7 res...,1446613993381154823
4,2021-10-08T14:36:28.000Z,20069434,NaN,"Happy Friday DC from #DCsBravest Engine 15, Re...",1446484645739175940